[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"

[packages]
django = "*"
pipenv = "*"
django-heroku = "*"
gunicorn = "*"
